.catalog{
    @include media(768px){
        margin-top: 50px;
    }
}

.catalog__items{
    position: relative;
    margin-top: 35px;
    justify-content: center;
    @include media(992px){
        justify-content: stretch;
    }
    &::before{
        content: '';
        position: absolute;
        display: block;
        width: 65%;
        height: 90%;
        bottom: -248px;
        left: -120px;
        background-image: url(/img/zerna-coffe.svg);
        background-repeat: no-repeat;
    }
}

.catalog__item{
        
    .catalog__wrapper{
        transition: box-shadow .5s ease-out;
        &:hover{
            box-shadow: 1px 1px 10px rgba(146, 146, 146, 0.9);
        }
        &:hover .trade{
            opacity: 1;
            transform: translateY(-22px);
        }
        &:hover span {
            transform: translateY(-50px);
        }
        &:hover img{
            transform: translateY(-95px);
        }
        img{
            transition: transform .5s ease-out;
            transform: translateY(-30px);
            width: 110%;
            padding: 0 20px;
        }
        display: flex;
        height: 420px;
        padding: 20px 0;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-color: $color_white;
        box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
        border-radius: 20px;
    }
    display: flex;
    justify-content: center;
    @include media-max(992px){
        &:nth-child(2),&:nth-child(3),&:nth-child(4){
            display: none;
        }
    }
    
    .trade{
        opacity: 0;
        
        transition: all .5s ease-out;
        &:hover {
            background-image: linear-gradient(to right, #F09819 0%, $color_yellow 51%, #F09819 100%);
            color: $color_black;
            box-shadow: 1px 1px 19px rgba(124, 4, 4, 0.5)
        }
        width: 232px;
        height: 50px;
        font-size: 14px;
        background-color: $color_yellow;
        color: $color_white;
        border: none;
        border-radius: 5px;
    }
    span{
        font-size: 17px;
        transition: transform .5s ease-out;
        
    }
}