.header{
    overflow: hidden;
    position: relative;
    margin-top: 50px;
    
}

.header__logo{
    img {
        width: 70%;
    }
}
.burger {
    width: 55px;
    height: 55px;
    font-size: 45px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    transition: background .7s ease;
    cursor: pointer;
        &:hover {
            background-color: $color_yellow;
        }
    
}

.header__icon {
    a {
        width: 35px;
        height: 35px;
        line-height: 35px;
        border-radius: 50%;
        transition: all .5s ease;
        &:hover {
            color: $color_yellow;
            transform: scale(1.35);
            background-color: $color_black;
        }
    }
}

.contacts__items {
     a {
        transition: all .5s ease;
        &:hover {
            color: $color_yellow;
            transform: scale(0.95) rotateZ(-2deg);
            border-radius: 10px;
        }
     }
}

.header__img{
    img {
        width: 120%;
        transform: translateY(-170px) translateX(70px);
    }
    @include media(768px){
        img {
            transform: translateY(-200px) translateX(160px);
            width: 80%;
        }
    }
    @include media(992px){
        img {
            transform: translateY(-145px) translateX(-40px);
            width: 100%;
        }
    }
}

.button__header {
    &:nth-child(1){
        margin-top: 180px;
    }
    button {
        border: none;
        background-color: $color_yellow;
        color: $color_white;
        width: 400px;
        height: 65px;
        border-radius: 10px;
        font-size: 20px;
        transition: all .6s linear;
        &:hover{
            background-image: linear-gradient(to right, #F09819 0%, $color_yellow 51%, #F09819 100%);
            color: #000;
        }
    }
}

.header__content {
    // position: relative;
    padding-top: 30px;
    &::after {
        content: '';
        position: absolute;
        background-image: url(/img/coffe_header.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        width: 500px;
        height: 370px;
        top: 119px;
        right: -145px;
        @include media(768px){
            top: 188px;
            background-size: 540px;
            right: -10px
        }
        @include media(992px){
            top: 10px;
            background-size: 550px;
            right: 20px;
        }
        @include media(1200px){
            top: -22px;
            width: 625px;
            right: 60px;
            height: 460px;
            background-size: 580px;
        }
        
}
    
}

.header__text {
    p:first-child{
        margin-bottom: 27px;
    }
    .button__header{
        margin-top: 90px;
    }
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    color: $color_black;
    @include media(768px){
        font-size: 17px;
    }
    @include media(992px){
        font-size: 20px;
    }
}




